@import "tailwindcss";

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1d293d;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(27, 103, 255, 0.5);
  border-radius: 8px;
  border: 2px solid #1d293d;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(27, 103, 255, 0.5);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(27, 103, 255, 0.5) #1d293d;
}

/* Hide scrollbar for mobile devices */
@media (max-width: 640px) {
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  * {
    scrollbar-width: none;
  }
}
